{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('category_ascending') }}" class=" btn btn-primary">Back to Category List</a>
    <br>

    <table class="table table-striped">
        <tr>
            <th scope="col">NAME</th>
            <th scope="col">{{ category.name }}</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{{ category.id }}</th>
        </tr>
    </table>
{% endblock %}