{% extends 'base.html.twig' %}

{% block body %}
        <div class="bs-example" data-example-id="striped-table">
        <div class="d-flex justify-content-end">
            <a href="{{ path('user_create') }}" class=" btn btn-primary">Add User</a>
        </div>
        <br>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">USER ID</th>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">FUNCTION</th>
            </tr>
            </thead>
        </table>
{% endblock %}
