{% extends 'base.html.twig' %}

{% block body %}


        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">USER ID</th>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
                <th scope="col">FUNCTION</th>
            </tr>
            </thead>
        </table>
{% endblock %}
